/*
* @Author: Manoj Baishya
* @Date:   2020-04-13 22:38:32
* @Last Modified by:   Manoj Baishya
* @Last Modified time: 2020-04-13 23:12:40
*/

.title {
    font-family: 'Bungee', cursive;
    color: orchid;
    text-align: center;
}

.para {
    font-family: georgia;
    text-align: center;
}
